/******************ALL PAGES*************/

body{
  margin: 0;
  padding: 0;
  background-color: #F2F1E8;

  display: flex;
  flex-direction: column;
}

header {
  background-color: #FFFFFF;
  position:fixed;
  width: 100%;
  z-index:1;
  box-shadow: 2px 2px grey;
}

main {
  display: flex;
  flex-direction: column;
  font-family: 'Merriweather', sans-serif;
  justify-content: center;
}

#main_navigation {
  display: flex;
  align-items: center;
  width: 100%;
  color: #131511;
}

#main_navigation img{
  height: 60px;
  margin-top: 7px;
  margin-left: 10px;
}

ul {
  width: 85%;
  color: black;
  text-transform: uppercase;
  font-family: 'Roboto';
  list-style-type: none;

  display: flex;
  flex-direction: row;
  justify-content: center;
}

li {
  margin: 0px 1.5em;
}

a:link {
  color: #2B2F26;
}

a:hover {
  color: #CD5D67
}

a:active {
  color: #968772;
}

#site_footer {
  background-color: #2A3025;
  font-family: 'Merriweather', serif;
  height: 120px;
  color: white;
  font-weight: lighter;

  display: flex;
  align-items: center;
}

#site_footer span {
  padding: 40px;
}

#site_footer span:focus {
  color: #967343;
}
/**********************ALL PAGES*****************/

/****************INDEXPAGE***************/

.company_name {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: 'Merriweather', serif;
}

.company_name h1 {
  display: flex;
  justify-content: center;

  width: 100%;
  height: 30px;
  font-weight: lighter;
}

.company_name h2 {
  display: flex;
  justify-content: center;

  width: 100%;
  height: 50px;
  font-weight: lighter;
}

.all_images {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.top_row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 20px;
  width: 100%;
  overflow: hidden;
}

.bottom_row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 20px;
  width: 100%;
  overflow: hidden;
}

#succulents1 {
  background-image: url('images/product-1.jpg');
  background-size: cover;
  height: 300px;
}

#succulents2 {
  background-image: url('images/product-2.jpg');
  background-size: cover;
}

#succulents3 {
  background-image: url('images/product-3.jpg');
  background-size: cover;

}

#succulents4 {
  background-image: url('images/product-4.jpg');
  background-size: cover;
  height: 250px;
}

#succulents5 {
  background-image: url('images/product-5.jpg');
  background-size: cover;
}

#succulents6 {
  background-image: url('images/product-6.jpg');
  background-size: cover;
}

#succulents7 {
  background-image: url('images/product-7.jpg');
  background-size: cover;
}

.top_captions {
  position: absolute;
  padding: 20px;
  margin-top: 14em;
  background-color: #2A3025;
  color: #F2F1E8;
  display: flex;
}

.bottom_captions {
  position: absolute;
  padding: 20px;
  margin-top: 11em;
  background-color: #2A3025;
  color: #F2F1E8;
  display: flex;
}

section {
  display: flex;
  padding: 0;
}

article {
  width: 40%;
  margin: 8px;
}

/*********************ABOUT PAGE***************/

.aboutbodywithbeige {
  background-color: #F2F1E8;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.top {
  display: flex;
  flex-direction: column;
}

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 3em 20em;
}

.about h1 {
  font-size: 4em;
}

.first_paragraph {
  width: 100%;
}
#birdhouse {
  background-image: url('images/birdhouse.jpg');
  height: 5em;
  width: 20%;
  background-size: contain;
  background-repeat: no-repeat;
  padding: 0;
  margin: 0;
  float: left;
}

.bird_paragraph {
  width: 100%;
}

.history {
  display: flex;
  flex-direction: column;
  margin: 0em 20em;
}

blockquote {
  border-left: 2px solid lightgray;
  width: 90%;
  padding: 2em;
}

.bottom {
  display: flex;
  flex-direction: column;
  align-content: center;
  margin: 0em 20em;
}

#middle_image {
  background-image: url('images/background-3.jpg');
  height: 240px;
  background-size: cover;
}

#middle_image h1 {
  color: #F2F1E8;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 7em;
}

.facilities {
  display: flex;
}

#facilities_text {
  width: 70%;
  padding-right: 2em;
}

#aside_image {
  background-image: url('images/background-1.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  width: 20%;
  margin-top: 2em;

  float:right;
}

#aside_image p {
  font-style: italic;
  margin-top: 7em;
}

.monthly_plans {
  margin-top: -1em;
}

table {
  border-collapse: collapse;
  width: 75%;
  margin-bottom: 40px;
}

td{
  border: 2px solid black;
  margin: 0px;
  padding: 1em;
}

th {
  border: 2px solid black;
  padding: 1em;
}

.colored {
  background-color: #E8DFD0;
}

/********************************NEWSLETTER************************/

.newsletter_background {
  background-image: url('images/background-2.jpg');
  width: 100%;
}

.newsletter_formbox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;
  height: 60vh;
  margin-top: 30vh;
  padding: 2vh;
}

.sign_up_content {
  display: flex;
  width: 100%;
  justify-content: center;
  height: 100vh;
}

.sign_up_message {
  text-align: center;
}

.sign_up_message h1 {
  font-size: 2em;
  color: #968772;
}

.sign_up_message h2 {
  font-size: 1.2em;
  color: ##131511;
}

form {
  display: flex;
  flex-direction: column;
}

input {
  border: none;
  border-bottom: 2px solid #968772;
  margin: 1.5em;
}

input:focus {
  color: #967343;
}

button {
  margin-top: 3em;
  background-color: #968772;
  color: #F2F1E8;
  margin: 1em 10em;
  padding: 1em;
}

button:hover {
  color: #FFFFFF;
}

article .sign_up_content {
  width: 100%;
}
/*Visited sites
header nav ul li a:hover {
  color: link;
}

header nav ul li a:link {
   color: white;
}

header nav ul li a:visited {
  color: blue;
}
link, visited, focus, hover, active
Lord voldemort fought hogwarts alumni
